<nav class="col-lg-2 col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" routerLink='/' routerLinkActive="active">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers" routerLinkActive="active">
          Customers
        </a>
      </li>
    </ul>
  </div>
</nav>
